body {
    color: green;
}

.img {
    height: 219px;
    background: url('./images/color.png');
}

.post_css {
    width: 200px;
    height: 100px;
    background: linear-gradient(to bottom, #fff, #333);
    transform: translateX(100px);
}